Case - Analista 202008.zip
case.pdf
questao3/Questao3.docx
questao1/.ipynb_checkpoints/questao1-checkpoint.ipynb
questao3/.ipynb_checkpoints/questao3-checkpoint.ipynb
case_respostas.docx
Case_Lucas_Respostas.rar
